.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 45px);
}

.login-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.login-form h2 {
  margin: 0 0 20px;
  text-align: center;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form select,
.login-form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
}


.login-form button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.login-form button:hover {
  background: #0056b3;
}

.login-form .second-btn {
  background: white;
  border: 2px solid #0056b3;
  color: black;
  margin-top: 10px;
}
.login-form .second-btn:hover {
  background-color: #f0f0f0;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-bottom: 10px;
  text-align: center;
}
