:root {
  --container-width: 1200px;
  --container-width-md: 1000px;
  --container-width-sm: 800px;
  --container-width-xs: 540px;
}

body {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;

  background-color: #e8e8e8;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}


@media screen and (max-width: 1220px) { 
  .container {
    max-width: var(--container-width-md);
  }
}

@media screen and (max-width: 1020px) { 
  .container {
    max-width: var(--container-width-sm);
  }
}

@media screen and (max-width: 820px) { 
  .container {
    max-width: var(--container-width-xs);
  }
}